.setcolor{
    color:black
}
.display{
    display: flex;
    width: 400px;
    justify-content: space-between;
    background-color: red;
}

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
}